[Desktop Entry]
Name=EqunDO
Comment=Equn forum client
Exec=equndo %u
Icon=com.github.kamisangk.equndo
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/equndo;
StartupWMClass=EqunDO
