[Desktop Entry]
Name=EqunDO
Comment=Linux.do 客户端
Exec=fluxdo %u
Icon=fluxdo
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/fluxdo;x-scheme-handler/https;
StartupWMClass=fluxdo
